@charset "UTF-8";
/*
*  Los archivos que empiezan con ' _ ' no son escuchados por
*  el compilador, por eso solo se compila el archivo main.scss
*  y se genera un único archivo: main.css.
*  Esto puedes cambiarlo a tu gusto y generar varios archivos.
*/
html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: normal; }

body {
  margin: 0; }
